 body{
    background-image: url('IMG_5550.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1920px;
    margin-top: 1000px;
    margin-bottom: 1000px;        
}
.oooo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 800px;
    gap: 20px;
}

.oooo img{
    width: 300px;
    height: 500x;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,2);
}
