 body{
    background-image: url('WhatsApp\ Image\ 2025-03-09\ at\ 11.34.02_90a47fe9.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1920px;
    margin: 0;        
}
.oooo{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    margin-top: 130px;
    gap: 20px;
}

.oooo img{
    width: 180px;
    height: 230px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,2);
}
