 body{
    background-image: url('Pngtreearabicislamicramadankareemornamental1740237.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1920px;
    margin: 0px;
}
.oooo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1000px;
    margin-bottom: 1500px;
    gap: 20px;
}

.oooo img{
    width: 300px;
    height: 500x;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,2);
}
